body{
    text-align: center;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.btn{
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
    margin: 2rem;
}

.green{
    background-color: #01949a;
}

.yellow{
    background-color:  #e8d5a3;
}

.red{
    background-color: #db1f48;
}

.blue{
    background-color: #004369;
}

.flash{
    background-color: white;
}

.userFlash{
    background-color: gray;
}